body {
    font-size: 30px;
    line-height: 2.0;
    background-color: black;
    color: green;
    width: 980px;
    margin: auto;
    padding: 20px 20px 20px 20px;
}

main {
    font-size: 20px;
    text-align: center;
}

li {
    text-align: left;
    font-size: 15px;
}

section h2 {
    text-align: left;
    font-size: 20px;
}